
// то, о чем говорили - общий класс для разделов, заголовков и тд
section.events
    .container
        h2.title-section Узнай о событиях
        .events__wrapper
            .events__cards
                // Хорошо. При этом, учитывай, что в теории такая карточка может быть переиспользована где-то отдельно, где-то в слайдере и тд.
                // Поэтому лучше за практику взять вынос таких карточек в отдельные блоки
                .events__card
                    //Лучше картинки оборачивать во враппер. У картинок общие стили, а дальше играемся характеристиками этого враппера
                    img.events__card-img(src="./img/events-img1.jpg", alt="")
                    //Отлично, что есть единый класс для заголовков. В данном случае можно пойти еще дальше, и сверстать единую карточку, они похожие для новостей, событий и тд
                    h3.title-card Новогодняя квест-экскурсия «Загадки города С»
                    .events__card-date
                        //Для удобства, если иконке не надо менять цвет при наведении итд, лучше вставлять ее псевдоэлементом, у которого svg всталена инлайном
                        img.events__card-date-img(src="./img/calendar.svg", alt="")
                        time.events__card-date-text 22 ноября - 31 января, 9:00 - 18:00
                .events__card
                    img.events__card-img(src="./img/events-img2.jpg", alt="")
                    h3.title-card Комедия «Тайный Санта»
                    .events__card-date 
                        img.events__card-date-img(src="./img/calendar.svg", alt="")
                        time.events__card-date-text 8 декабря
                .events__card
                    img.events__card-img(src="./img/events-img3.jpg", alt="")
                    h3.title-card Выставка произведений детей и подростков с особенностями ментального развития
                    .events__card-date 
                        img.events__card-date-img(src="./img/calendar.svg", alt="")
                        time.events__card-date-text 15 декабря – 15 января
                .events__card
                    img.events__card-img(src="./img/events-img4.jpg", alt="")
                    h3.title-card Выставка «100 символов Страны Советов»
                    .events__card-date 
                        img.events__card-date-img(src="./img/calendar.svg", alt="")
                        time.events__card-date-text 15 декабря – 15 января
                .events__card
                    img.events__card-img(src="./img/events-img4.jpg", alt="")
                    h3.title-card Выставка «100 символов Страны Советов»
                    .events__card-date 
                        img.events__card-date-img(src="./img/calendar.svg", alt="")
                        time.events__card-date-text 15 декабря – 15 января
            
