-
  var desc = [
    {
      text: "Мордовия – это динамично развивающийся регион, расположенный в центральной части Русской равнины. На территории республики проживает более 800 тысяч жителей. Мордовия – многонациональная республика, где издавна сложились гармоничные межэтнические отношения. Существующему национальное согласие способствует развитию самобытной национальной культуры и бытовых традиций всех народов республики. Коренное население республики – мордва, она относится к финно-угорский языковой группе. Этнически мордва неоднородна и состоит из двух групп – эрзя и мокша.",
    },
    {
      text: "Республика является одной из самых экологически чистых территорий европейской части страны, а Саранск – считается одним из самых благоустроенных городов России.",
    },
    {
      text: "На старинном гербе Саранска изображены красная лисица и три стрелы, символизировавшие охотничьи промыслы, которыми занималось местное население. Современный Саранск – крупный промышленный центр свето- и электротехники, машиностроения, это город талантливых людей – ученых, студентов, спортсменов.",
    },
    {
      text: "Мордовия – это регион, где гармонично сочетаются исторические древности, спрятанные от суетного мира в благоговейной тишине вековых дубрав, и динамичная жизнь инновационных научно-технических центров, культурные ценности народа и современная архитектура зданий."
    },

  ];

// Не настолько важно, и не всегда получается, но название лушче выбирать не напрямую что написано, а по сути. В данном случае это раздел о Мордовии - about
section.open-mordovia
  .container
    h2.title-section.title-section--left Открой Мордовию! 
    .open-mordovia__wrapper 
      .open-mordovia__content 
        // Молодец, что стараешься использовать списки. Но в данном случае это просто текст описания, который скорее всего будет заполянтся контентщиком. Поэтому общий враппер есть open-mordovia__content, в нем просто <p> 
        each item in desc
          ul.open-mordovia__content-list 
            li.open-mordovia__content-item=item.text    
        a.open-mordovia__content-link(href="#") Подробнее
      // Для более гибкого управления фреймом, обораччиваем его в какой-то враппер, и размеры подгорняем у него, у фрема они всегда будут 100% и 100%
      iframe.open-mordovia__video(src="https://www.youtube.com/embed/aZMM3T4ogbQ?si=b5mwW0aj_ExZR8ZF" width="872" height="506" frameborder="0") 
      //- img.open-mordovia__video-bg(src="./img/video-bg.png" alt="")

